{% extends "auctions/layout.html" %}

{% block body %}
    
    
    <div class="container">
        <h2 id="title">Active Listing </h2>
        <!-- Example split danger button -->
        <form action="{% url 'display_category' %}" method="post">
          {% csrf_token %} 
          <label for="cars"> <small class="text-muted">Select category</small></label>
          <br>
           <select name="category" class="form-select" aria-label="Default select example">
                <option selected><a href="#">Category</a></option>
                <option value="Motherboards">Motherboards</option>
                <option value="GPU">GPU</option>
                <option value="CPU">CPU</option>
                <option value="RAM">RAM</option>
                <option value="Computer cases">Computer cases</option>
            </select>
            <input type="submit" class="btn btn-info" value="Submit">
            <br><br>
            
        </form>
        <div class="row">
                {% for listing in listings %}
                    <div class="card col-sm-3" style="width: 18rem;">
                        <div class="card-header">
                            <p id="bid">Current bid: <span id="price">{{ listing.bid }}</span></p>
                        </div>
                        <img class="card-img-top" src="{{listing.url}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ listing.title}}</h5>
                            <p class="card-text">{{ listing.description }}</p>
                            <a href="{% url 'display_listing' listing.id %}" class="btn btn-primary">Go to listing</a>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}